docs/*
**/*.swp
**/*.swo
/.idea
.idea
*.log
*.txt
*.json
*.yml
*.yaml
*.sh
Makefile
README.md
coverage/*
cliff.toml
Dockerfile
config/config.yaml
config.yaml
config.yml
RELEASE_CHANGELOG.md
report.xml
coverage.xml
phlare/flareClient_test.go
gophlare
git-cliff*
git-cliff*/
git-cliff-*.tar.gz
git-cliff-2.7.0/
git-cliff-*/*
*.tar.gz
*.tgz
todo.md
.aiignore
