COMPANY: "CHANGETHIS"
OUTPUT: "CHANGETHIS"
USER_AGENT: ""
TIMEOUT: 600
# Accepts multiple input formats: MM-DD-YYYY, YYYY-MM-DD, MM/DD/YYYY, YYYY/MM/DD
# Always returns the date in time.RFC3339 (YYYY-MM-DDT00:00:00Z)
# TO if left blank defaults to today's date
FROM: "2023-01-01"
TO: "2025-02-19"
DOMAINS: |-
  todo.foo
USER_ID_FORMAT: |-
  a1234
  a12345
  a123456
  aa1234
  aa12345
  aa123456
  abc1234
  abc12345
  abc123456
  AA\ABC1234
  AA\ABC12345
  AA\ABC123456
SEVERITY: |-
  critical
  high
  medium
EVENTS_FILTER_TYPES: |-
  illicit_networks
  open_web
  leak
  domain
  listing
  forum_content
  blog_content
  blog_post
  profile
  chat_message
  ransomleak
  infected_devices
  financial_data
  bot
  stealer_log
  paste
  social_media
  source_code
  source_code_files
  stack_exchange
  google
  service
  buckets
  bucket
  bucket_object
OUT_OF_SCOPE: |-
  outta.scope
API_KEYS:
  FLARE_API: &FLARE_API ""
  FLARE_TENANT_ID: &FLARE_TENANT_ID 1234567
# OPTIONS FOR BLOODHOUND SUBCOMMAND
BLOODHOUND_USERS_JSON_FILE: ""
FLARE_CREDS_BY_DOMAIN_JSON_FILE: ""
OUTPUT_DIR: ""
NEO4J_HOST: ""
NEO4J_PORT: ""
NEO4J_USER: ""
NEO4J_PASSWORD: ""
BLOODHOUND_USER: ""
BLOODHOUND_PASSWORD: ""
BLOODHOUND_SERVER_URL: ""