{
    "openapi": "3.1.0",
    "info": {
        "title": "Firework API",
        "version": "v4"
    },
    "servers": [
        {
            "url": "https://api.flare.io"
        }
    ],
    "paths": {
        "/firework/v4/admin/identifiers/{tenant_id}/free_trial_identifier": {
            "post": {
                "tags": [
                    "public",
                    "team=experience"
                ],
                "summary": "Create Identifier For Free Trial",
                "operationId": "create_identifier_for_free_trial_admin_identifiers__tenant_id__free_trial_identifier_post",
                "parameters": [
                    {
                        "name": "tenant_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "title": "Tenant Id"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/IdentifierRequestBody"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/IdentifierResponse"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/firework/v4/alerts/": {
            "get": {
                "tags": [
                    "public",
                    "team=experience"
                ],
                "summary": "Tenant Alerts",
                "operationId": "tenant_alerts_alerts__get",
                "parameters": [
                    {
                        "name": "from",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "anyOf": [
                                {
                                    "type": "string"
                                },
                                {
                                    "type": "null"
                                }
                            ],
                            "title": "From"
                        }
                    },
                    {
                        "name": "size",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "maximum": 10,
                            "exclusiveMinimum": 0,
                            "default": 10,
                            "title": "Size"
                        }
                    },
                    {
                        "name": "order_type",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "$ref": "#/components/schemas/OrderType",
                            "default": "asc"
                        }
                    },
                    {
                        "name": "q",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "anyOf": [
                                {
                                    "type": "string"
                                },
                                {
                                    "type": "null"
                                }
                            ],
                            "title": "Q"
                        }
                    },
                    {
                        "name": "feed_owner_id",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "anyOf": [
                                {
                                    "type": "integer"
                                },
                                {
                                    "type": "null"
                                }
                            ],
                            "title": "Feed Owner Id"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PaginatedResults_Alert_str_"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/firework/v4/alerts/channels": {
            "get": {
                "tags": [
                    "public",
                    "team=integration"
                ],
                "summary": "Alert Channels",
                "operationId": "alert_channels_alerts_channels_get",
                "parameters": [
                    {
                        "name": "from",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "anyOf": [
                                {
                                    "type": "string"
                                },
                                {
                                    "type": "null"
                                }
                            ],
                            "title": "From"
                        }
                    },
                    {
                        "name": "size",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "maximum": 10,
                            "exclusiveMinimum": 0,
                            "default": 10,
                            "title": "Size"
                        }
                    },
                    {
                        "name": "order_type",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "$ref": "#/components/schemas/OrderType",
                            "default": "asc"
                        }
                    },
                    {
                        "name": "q",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "anyOf": [
                                {
                                    "type": "string"
                                },
                                {
                                    "type": "null"
                                }
                            ],
                            "title": "Q"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PaginatedResults_PartialAlertChannel_str_"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "public",
                    "team=integration"
                ],
                "summary": "Create Channel",
                "operationId": "create_channel_alerts_channels_post",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateAlertChannel"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AlertChannel"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/firework/v4/threat_flow/intel/requests": {
            "post": {
                "tags": [
                    "public"
                ],
                "summary": "Create Intel Request",
                "operationId": "create_intel_request_threat_flow_intel_requests_post",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateIntelRequestPayload"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CreateIntelRequestResponse"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/firework/v4/threat_flow/intel/requests/{id}": {
            "get": {
                "tags": [
                    "public"
                ],
                "summary": "Get Intel Request",
                "operationId": "get_intel_request_threat_flow_intel_requests__id__get",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid",
                            "title": "Id"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/IntelRequestResponse"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/firework/v4/credentials/global/_search": {
            "post": {
                "tags": [
                    "public"
                ],
                "summary": "Credentials Global Search",
                "operationId": "credentials_global_search_credentials_global__search_post",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CredentialsQueryPayload"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PaginatedResults_Credential_str_"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/firework/v4/credentials/actions": {
            "post": {
                "tags": [
                    "public",
                    "team=experience"
                ],
                "summary": "Credential Actions",
                "operationId": "credential_actions_credentials_actions_post",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CredentialActionRequestBody"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/firework/v4/entities/global/_search": {
            "post": {
                "tags": [
                    "public",
                    "team=data-intelligence"
                ],
                "summary": "List Entities",
                "operationId": "list_entities_entities_global__search_post",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/EntitySearchParamsPayload"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PaginatedResults_EntityLiteAPIResponseTypes_str_"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/firework/v4/entities/{id}": {
            "get": {
                "tags": [
                    "public",
                    "team=data-intelligence"
                ],
                "summary": "Get Entity",
                "operationId": "get_entity_entities__id__get",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid",
                            "title": "Id"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/EntityAPIResponseTypes"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/firework/v4/entities/{id}/relations": {
            "post": {
                "tags": [
                    "public",
                    "team=data-intelligence"
                ],
                "summary": "List Entity Relations",
                "operationId": "list_entity_relations_entities__id__relations_post",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid",
                            "title": "Id"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/EntityRelationsSearchParamsPayload"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PaginatedResults_CTIEntityRelationshipResponse_str_"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/firework/v4/events/": {
            "get": {
                "tags": [
                    "public",
                    "team=integration"
                ],
                "summary": "Get Event",
                "operationId": "get_event_events__get",
                "parameters": [
                    {
                        "name": "uid",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "title": "Uid"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "anyOf": [
                                        {
                                            "oneOf": [
                                                {
                                                    "$ref": "#/components/schemas/BlogPostEvent"
                                                },
                                                {
                                                    "$ref": "#/components/schemas/BotEvent"
                                                },
                                                {
                                                    "$ref": "#/components/schemas/BucketEvent"
                                                },
                                                {
                                                    "$ref": "#/components/schemas/BucketObjectEvent"
                                                },
                                                {
                                                    "$ref": "#/components/schemas/ChatMessageEvent"
                                                },
                                                {
                                                    "$ref": "#/components/schemas/FinancialEvent"
                                                },
                                                {
                                                    "$ref": "#/components/schemas/DockerImageEvent"
                                                },
                                                {
                                                    "$ref": "#/components/schemas/DockerRepositoryEvent"
                                                },
                                                {
                                                    "$ref": "#/components/schemas/ForumPostEvent"
                                                },
                                                {
                                                    "$ref": "#/components/schemas/InvalidCredentialEvent"
                                                },
                                                {
                                                    "$ref": "#/components/schemas/LeakEvent"
                                                },
                                                {
                                                    "$ref": "#/components/schemas/LeakedCredentialEvent"
                                                },
                                                {
                                                    "$ref": "#/components/schemas/ListingEvent"
                                                },
                                                {
                                                    "$ref": "#/components/schemas/LookalikeDomainEvent"
                                                },
                                                {
                                                    "$ref": "#/components/schemas/MitigatedCredentialEvent"
                                                },
                                                {
                                                    "$ref": "#/components/schemas/PasteEvent"
                                                },
                                                {
                                                    "$ref": "#/components/schemas/RansomLeakEvent"
                                                },
                                                {
                                                    "$ref": "#/components/schemas/ServiceEvent"
                                                },
                                                {
                                                    "$ref": "#/components/schemas/SocialMediaEvent"
                                                },
                                                {
                                                    "$ref": "#/components/schemas/pyro__findings__stealerlogs__datamodels__StealerLogEvent"
                                                },
                                                {
                                                    "$ref": "#/components/schemas/ValidCredentialEvent"
                                                }
                                            ],
                                            "discriminator": {
                                                "propertyName": "event_type",
                                                "mapping": {
                                                    "blog_post": "#/components/schemas/BlogPostEvent",
                                                    "bot": "#/components/schemas/BotEvent",
                                                    "bucket": "#/components/schemas/BucketEvent",
                                                    "bucket_object": "#/components/schemas/BucketObjectEvent",
                                                    "chat_message": "#/components/schemas/ChatMessageEvent",
                                                    "cc": "#/components/schemas/FinancialEvent",
                                                    "docker_image": "#/components/schemas/DockerImageEvent",
                                                    "docker_repository": "#/components/schemas/DockerRepositoryEvent",
                                                    "forum_post": "#/components/schemas/ForumPostEvent",
                                                    "invalid_credential": "#/components/schemas/InvalidCredentialEvent",
                                                    "leak": "#/components/schemas/LeakEvent",
                                                    "leaked_credential": "#/components/schemas/LeakedCredentialEvent",
                                                    "listing": "#/components/schemas/ListingEvent",
                                                    "lookalike": "#/components/schemas/LookalikeDomainEvent",
                                                    "mitigated_credential": "#/components/schemas/MitigatedCredentialEvent",
                                                    "paste": "#/components/schemas/PasteEvent",
                                                    "ransomleak": "#/components/schemas/RansomLeakEvent",
                                                    "service": "#/components/schemas/ServiceEvent",
                                                    "social_media_account": "#/components/schemas/SocialMediaEvent",
                                                    "stealer_log": "#/components/schemas/pyro__findings__stealerlogs__datamodels__StealerLogEvent",
                                                    "valid_credential": "#/components/schemas/ValidCredentialEvent"
                                                }
                                            }
                                        },
                                        {
                                            "$ref": "#/components/schemas/EmptyFireworkEvent"
                                        }
                                    ],
                                    "title": "Response Get Event Events  Get"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/firework/v4/events/tenant/_search": {
            "post": {
                "tags": [
                    "public"
                ],
                "summary": "Current Tenant Feed",
                "operationId": "current_tenant_feed_events_tenant__search_post",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/FeedRequestBody"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PaginatedResults_FeedItem_str_"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/firework/v4/events/global/_search": {
            "post": {
                "tags": [
                    "public"
                ],
                "summary": "Global Search",
                "operationId": "global_search_events_global__search_post",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/GlobalSearchRequestBody"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PaginatedResults_GlobalFeedItem_str_"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/firework/v4/events/identifiers/{identifier_id}/_search": {
            "post": {
                "tags": [
                    "public"
                ],
                "summary": "Identifier Feed",
                "operationId": "identifier_feed_events_identifiers__identifier_id___search_post",
                "parameters": [
                    {
                        "name": "identifier_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "title": "Identifier Id"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/FeedRequestBody"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PaginatedResults_FeedItem_str_"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/firework/v4/events/identifier_groups/{identifier_group_id}/_search": {
            "post": {
                "tags": [
                    "public"
                ],
                "summary": "Identifier Group Feed",
                "operationId": "identifier_group_feed_events_identifier_groups__identifier_group_id___search_post",
                "parameters": [
                    {
                        "name": "identifier_group_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "title": "Identifier Group Id"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/FeedRequestBody"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PaginatedResults_FeedItem_str_"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/firework/v4/events/filters/types": {
            "get": {
                "tags": [
                    "public"
                ],
                "summary": "Fetch Filters Source Types",
                "operationId": "fetch_filters_source_types_events_filters_types_get",
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FilterSourceTypes"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/firework/v4/events/filters/severities": {
            "get": {
                "tags": [
                    "public"
                ],
                "summary": "Fetch Filters Risk Score",
                "operationId": "fetch_filters_risk_score_events_filters_severities_get",
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FilterSeverities"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/firework/v4/events/actions": {
            "post": {
                "tags": [
                    "public",
                    "team=experience"
                ],
                "summary": "Event Actions",
                "operationId": "event_actions_events_actions_post",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/EventActionsBody"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/firework/v4/events/tenant/metadata": {
            "patch": {
                "tags": [
                    "public",
                    "team=experience"
                ],
                "summary": "Update Tenant Metadata",
                "operationId": "update_tenant_metadata_events_tenant_metadata_patch",
                "parameters": [
                    {
                        "name": "uid",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "title": "Uid"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UpdateTenantMetadataBody"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TenantMetadataResponse"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/firework/v4/events/_expand": {
            "get": {
                "tags": [
                    "public",
                    "team=experience"
                ],
                "summary": "Expand Event Field",
                "operationId": "expand_event_field_events__expand_get",
                "parameters": [
                    {
                        "name": "field",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/ExpandableField"
                        }
                    },
                    {
                        "name": "uid",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "title": "Uid"
                        }
                    },
                    {
                        "name": "from",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "anyOf": [
                                {
                                    "type": "string"
                                },
                                {
                                    "type": "null"
                                }
                            ],
                            "title": "From"
                        }
                    },
                    {
                        "name": "size",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "maximum": 20,
                            "exclusiveMinimum": 0,
                            "default": 20,
                            "title": "Size"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "anyOf": [
                                        {
                                            "$ref": "#/components/schemas/PaginatedResults_StealerLogCredential_str_"
                                        },
                                        {
                                            "$ref": "#/components/schemas/PaginatedResults_StealerLogCookie_str_"
                                        },
                                        {
                                            "$ref": "#/components/schemas/PaginatedResults_FeedItem_str_"
                                        },
                                        {
                                            "$ref": "#/components/schemas/PaginatedResultsWithTotalCount_LeakedFile_str_"
                                        },
                                        {
                                            "$ref": "#/components/schemas/PaginatedResults_LeakedFileExtension_str_"
                                        }
                                    ],
                                    "title": "Response Expand Event Field Events  Expand Get"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/firework/v4/healthz/": {
            "get": {
                "tags": [
                    "public"
                ],
                "summary": "Is Api Up And Running",
                "operationId": "is_api_up_and_running_healthz__get",
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "string",
                                    "title": "Response Is Api Up And Running Healthz  Get"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/firework/v4/events/identifiers/{identifier_id}/_explain": {
            "get": {
                "tags": [
                    "public",
                    "team=data-engineering"
                ],
                "summary": "Explain Identifier Event",
                "operationId": "explain_identifier_event_events_identifiers__identifier_id___explain_get",
                "parameters": [
                    {
                        "name": "identifier_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "title": "Identifier Id"
                        }
                    },
                    {
                        "name": "event_uid",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "title": "Event Uid"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/EventExplanation"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/firework/v4/identifier-recommendations/": {
            "get": {
                "tags": [
                    "public",
                    "team=experience"
                ],
                "summary": "Fetch Identifier Recommendations",
                "operationId": "fetch_identifier_recommendations_identifier_recommendations__get",
                "parameters": [
                    {
                        "name": "types",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "anyOf": [
                                {
                                    "type": "array",
                                    "items": {
                                        "enum": [
                                            "domain",
                                            "azure_tenant",
                                            "email",
                                            "username"
                                        ],
                                        "type": "string"
                                    }
                                },
                                {
                                    "type": "null"
                                }
                            ],
                            "title": "Types"
                        }
                    },
                    {
                        "name": "query",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "anyOf": [
                                {
                                    "type": "string"
                                },
                                {
                                    "type": "null"
                                }
                            ],
                            "title": "Query"
                        }
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "anyOf": [
                                {
                                    "$ref": "#/components/schemas/IdentifierRecommendationState"
                                },
                                {
                                    "type": "null"
                                }
                            ],
                            "title": "Status"
                        }
                    },
                    {
                        "name": "from",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "anyOf": [
                                {
                                    "type": "string"
                                },
                                {
                                    "type": "null"
                                }
                            ],
                            "title": "From"
                        }
                    },
                    {
                        "name": "size",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "maximum": 100,
                            "exclusiveMinimum": 0,
                            "default": 100,
                            "title": "Size"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PaginatedResults_Recommendation_str_"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/firework/v4/identifier-recommendations/actions": {
            "post": {
                "tags": [
                    "public",
                    "team=experience"
                ],
                "summary": "Create Action For Identifier Recommendations",
                "operationId": "create_action_for_identifier_recommendations_identifier_recommendations_actions_post",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/IdentifierRecommendationActionsBody"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/firework/v4/identifiers/": {
            "post": {
                "tags": [
                    "public",
                    "team=experience"
                ],
                "summary": "Create Identifier",
                "operationId": "create_public_identifier_identifiers__post",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/PublicIdentifierRequestBody"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PublicIdentifierResponse"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            },
            "get": {
                "tags": [
                    "public",
                    "team=experience",
                    "feature=identifiers"
                ],
                "summary": "List Identifiers",
                "operationId": "list_identifiers_identifiers__get",
                "parameters": [
                    {
                        "name": "from",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "anyOf": [
                                {
                                    "type": "string"
                                },
                                {
                                    "type": "null"
                                }
                            ],
                            "title": "From"
                        }
                    },
                    {
                        "name": "size",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "maximum": 100,
                            "exclusiveMinimum": 0,
                            "default": 20,
                            "title": "Size"
                        }
                    },
                    {
                        "name": "order_by",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "$ref": "#/components/schemas/IdentifierOrderBy",
                            "default": "id"
                        }
                    },
                    {
                        "name": "is_disabled",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "anyOf": [
                                {
                                    "type": "boolean"
                                },
                                {
                                    "type": "null"
                                }
                            ],
                            "title": "Is Disabled"
                        }
                    },
                    {
                        "name": "group_id",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "anyOf": [
                                {
                                    "type": "integer"
                                },
                                {
                                    "type": "null"
                                }
                            ],
                            "title": "Group Id"
                        }
                    },
                    {
                        "name": "types",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "anyOf": [
                                {
                                    "type": "array",
                                    "items": {
                                        "enum": [
                                            "bin",
                                            "ip",
                                            "keyword",
                                            "azure_tenant",
                                            "domain",
                                            "search_query",
                                            "github_repository",
                                            "secret",
                                            "identity"
                                        ],
                                        "type": "string"
                                    }
                                },
                                {
                                    "type": "null"
                                }
                            ],
                            "title": "Types"
                        }
                    },
                    {
                        "name": "authorization_status",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "anyOf": [
                                {
                                    "$ref": "#/components/schemas/IdentifierAuthorizationStatus"
                                },
                                {
                                    "type": "null"
                                }
                            ],
                            "title": "Authorization Status"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PaginatedResults_PublicIdentifierResponse_str_"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/firework/v4/identifiers/{identifier_id}": {
            "put": {
                "tags": [
                    "public",
                    "team=experience"
                ],
                "summary": "Update Identifier",
                "operationId": "update_identifier_by_id_public_identifiers__identifier_id__put",
                "parameters": [
                    {
                        "name": "identifier_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "title": "Identifier Id"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/PublicIdentifierUpdateRequestBody"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PublicIdentifierResponse"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            },
            "get": {
                "tags": [
                    "public",
                    "team=experience"
                ],
                "summary": "Get Identifier",
                "operationId": "get_identifier_public_identifiers__identifier_id__get",
                "parameters": [
                    {
                        "name": "identifier_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "title": "Identifier Id"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PublicIdentifierResponse"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "public",
                    "team=experience"
                ],
                "summary": "Delete Identifier",
                "operationId": "delete_identifier_identifiers__identifier_id__delete",
                "parameters": [
                    {
                        "name": "identifier_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "title": "Identifier Id"
                        }
                    }
                ],
                "responses": {
                    "202": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/firework/v4/matching-policies": {
            "post": {
                "tags": [
                    "public",
                    "team=data-engineering"
                ],
                "summary": "Create Matching Policy",
                "operationId": "create_matching_policy_matching_policies_post",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "anyOf": [
                                    {
                                        "$ref": "#/components/schemas/CreateIncludedKeywordsBody"
                                    },
                                    {
                                        "$ref": "#/components/schemas/CreateExcludedKeywordsBody"
                                    },
                                    {
                                        "$ref": "#/components/schemas/CreateLuceneQueryBody"
                                    },
                                    {
                                        "$ref": "#/components/schemas/CreateAstpCookiesBody"
                                    },
                                    {
                                        "$ref": "#/components/schemas/CreateAstpDomainBody"
                                    }
                                ],
                                "title": "Body"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/MatchingPolicyPayload"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            },
            "get": {
                "tags": [
                    "public",
                    "team=data-engineering"
                ],
                "summary": "List Matching Policies",
                "operationId": "list_matching_policies_matching_policies_get",
                "parameters": [
                    {
                        "name": "from",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "anyOf": [
                                {
                                    "type": "string"
                                },
                                {
                                    "type": "null"
                                }
                            ],
                            "title": "From"
                        }
                    },
                    {
                        "name": "size",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "maximum": 25,
                            "exclusiveMinimum": 0,
                            "default": 25,
                            "title": "Size"
                        }
                    },
                    {
                        "name": "order",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "$ref": "#/components/schemas/OrderType",
                            "default": "desc"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PaginatedResults_MatchingPolicyPayload_str_"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/firework/v4/matching-policies/{policy_uuid}": {
            "put": {
                "tags": [
                    "public",
                    "team=data-engineering"
                ],
                "summary": "Update Matching Policy",
                "operationId": "update_matching_policy_matching_policies__policy_uuid__put",
                "parameters": [
                    {
                        "name": "policy_uuid",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid",
                            "title": "Policy Uuid"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UpdateMatchingPolicyBody"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/MatchingPolicyPayload"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            },
            "get": {
                "tags": [
                    "public",
                    "team=data-engineering"
                ],
                "summary": "Get Matching Policy",
                "operationId": "get_matching_policy_matching_policies__policy_uuid__get",
                "parameters": [
                    {
                        "name": "policy_uuid",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid",
                            "title": "Policy Uuid"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/MatchingPolicyPayload"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "public",
                    "team=data-engineering"
                ],
                "summary": "Delete Matching Policy",
                "operationId": "delete_matching_policy_matching_policies__policy_uuid__delete",
                "parameters": [
                    {
                        "name": "policy_uuid",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid",
                            "title": "Policy Uuid"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/firework/v4/matching-policies/by_identifier_id/{identifier_id}": {
            "get": {
                "tags": [
                    "public",
                    "team=data-engineering"
                ],
                "summary": "List Matching Policies By Identifier Id",
                "operationId": "list_matching_policies_by_identifier_id_matching_policies_by_identifier_id__identifier_id__get",
                "parameters": [
                    {
                        "name": "identifier_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "title": "Identifier Id"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/MatchingPolicyAssignmentPayload"
                                    },
                                    "title": "Response List Matching Policies By Identifier Id Matching Policies By Identifier Id  Identifier Id  Get"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/firework/v4/matching-policies/{policy_uuid}/assignments": {
            "get": {
                "tags": [
                    "public",
                    "team=data-engineering"
                ],
                "summary": "List Policy Assignments",
                "operationId": "list_policy_assignments_matching_policies__policy_uuid__assignments_get",
                "parameters": [
                    {
                        "name": "policy_uuid",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid",
                            "title": "Policy Uuid"
                        }
                    },
                    {
                        "name": "from",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "anyOf": [
                                {
                                    "type": "string"
                                },
                                {
                                    "type": "null"
                                }
                            ],
                            "title": "From"
                        }
                    },
                    {
                        "name": "size",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "exclusiveMinimum": 0,
                            "default": 25,
                            "title": "Size"
                        }
                    },
                    {
                        "name": "order",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "$ref": "#/components/schemas/OrderType",
                            "default": "desc"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PaginatedResults_PolicyAssignedIdentifierPayload_str_"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "public",
                    "team=data-engineering"
                ],
                "summary": "Assign Policy",
                "operationId": "assign_policy_matching_policies__policy_uuid__assignments_post",
                "parameters": [
                    {
                        "name": "policy_uuid",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid",
                            "title": "Policy Uuid"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/PolicyAssignmentsBody"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "public",
                    "team=data-engineering"
                ],
                "summary": "Unassign Policy",
                "operationId": "unassign_policy_matching_policies__policy_uuid__assignments_delete",
                "parameters": [
                    {
                        "name": "policy_uuid",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid",
                            "title": "Policy Uuid"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/PolicyAssignmentsBody"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/firework/v4/reports": {
            "get": {
                "tags": [
                    "public",
                    "team=data-intelligence",
                    "feature=reports"
                ],
                "summary": "List Reports",
                "operationId": "list_reports_reports_get",
                "parameters": [
                    {
                        "name": "from",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "anyOf": [
                                {
                                    "type": "string"
                                },
                                {
                                    "type": "null"
                                }
                            ],
                            "title": "From"
                        }
                    },
                    {
                        "name": "size",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "maximum": 100,
                            "exclusiveMinimum": 0,
                            "default": 20,
                            "title": "Size"
                        }
                    },
                    {
                        "name": "order_type",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "$ref": "#/components/schemas/OrderType",
                            "default": "desc"
                        }
                    },
                    {
                        "name": "order_by",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "$ref": "#/components/schemas/pyro__reports__report_store__SortType",
                            "default": "updated_at"
                        }
                    },
                    {
                        "name": "include_archived",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "boolean",
                            "default": false,
                            "title": "Include Archived"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PaginatedResults_PublicReport_str_"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/firework/v4/reports/{report_id}": {
            "get": {
                "tags": [
                    "public",
                    "team=data-intelligence",
                    "feature=reports"
                ],
                "summary": "Get Report",
                "operationId": "get_report_reports__report_id__get",
                "parameters": [
                    {
                        "name": "report_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "title": "Report Id"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PublicReport"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/firework/v4/reports/{report_id}/download": {
            "get": {
                "tags": [
                    "public",
                    "team=data-intelligence",
                    "feature=reports"
                ],
                "summary": "Download Report",
                "operationId": "download_report_reports__report_id__download_get",
                "parameters": [
                    {
                        "name": "report_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "title": "Report Id"
                        }
                    },
                    {
                        "name": "format",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "$ref": "#/components/schemas/ReportDownloadFormat",
                            "choices": [
                                "docx",
                                "pdf",
                                "csv",
                                "zip"
                            ],
                            "default": "docx"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/firework/v4/threat_flow/reports/": {
            "get": {
                "tags": [
                    "public"
                ],
                "summary": "List Reports",
                "operationId": "list_reports_threat_flow_reports__get",
                "parameters": [
                    {
                        "name": "from",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "anyOf": [
                                {
                                    "type": "string"
                                },
                                {
                                    "type": "null"
                                }
                            ],
                            "title": "From"
                        }
                    },
                    {
                        "name": "size",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 10,
                            "title": "Size"
                        }
                    },
                    {
                        "name": "order",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "$ref": "#/components/schemas/OrderType",
                            "default": "desc"
                        }
                    },
                    {
                        "name": "report_types",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "anyOf": [
                                {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/pyro__threat_flow__core__reports__report_store__ReportType"
                                    }
                                },
                                {
                                    "type": "null"
                                }
                            ],
                            "title": "Report Types"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PaginatedResults_PydanticThreatFlowReport_str_"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/firework/v4/threat_flow/reports/{report_id}": {
            "get": {
                "tags": [
                    "public"
                ],
                "summary": "Get Report",
                "operationId": "get_report_threat_flow_reports__report_id__get",
[...]
